.row{
    cursor:pointer;

    display:block;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.cell{
    display: table-cell;
    box-sizing: border-box;
    width: 40px;
    height: 40px;

    margin:2px;
    padding:0;
    align-items: center;
    justify-content: center;

    text-align: center;
    vertical-align: middle;

    color:black;
    font-family: "Noto Sans KR", sans-serif;
    font-size:1.7em;

    user-select: none;
}

.cell:hover{
    color:rgb(50, 102, 247);
}

.cell-cursor{
    background-color:rgb(255, 214, 214);
    border-bottom: 5px solid red;
}

.input{
    opacity:0.3;
}